:root {
    --primary-color: #8e94ed;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}

.container {
    max-width: 640px;
    margin: 20px auto;
    padding: 20px;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input:focus {
    outline: 1px solid red;
}

section {
    background: white;
    border-radius: 25px;
    margin: 2px solid black;
}

table  {
    width: 100%;
    text-align: left;
}

#sixth-line {
    /* background: green; */
}